body{
    height: 100vh;
    background-color: darkblue;
    margin: 0; 
    padding: 0;
}

.header{
    position: relative; 
    background-color: gray;
    display: flex;
    justify-content: center;
}
.main{
    position: relative;
    display: flex;
    flex-direction: row;
}

.container{ 
    position: relative; 
    background: rgb(228, 251, 228);
    display: flex;  
    align-items: center;
    flex-direction: column;
}

.input{ 
    position: relative;
    display: flex; 
    width: 50%;
    border: 1px solid black;
    border-radius:0.2cm;
    margin: 5px;
    align-items: center;
    flex-direction: column;
}
.result{ 
    position: relative;
    display: flex; 
    width: 50%;
    border: 1px solid black;
    border-radius:0.2cm;
    margin: 5px;
    justify-content: center;
}